.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.daily-item {
    background-color: rgba(0, 42, 70, .3);
    border-radius: 15px;
    height: 90px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 20px;
}

.iconSmall {
    width: 90px;
}

.day {
    color: #002a46;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    color: #002a46;
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: rgba(0, 42, 70, .6);
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-details-grid-item {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.daily-details-grid-item label:first-child {
    color: #002a46;
}

.daily-details-grid-item label:last-child {
    color: rgba(0, 42, 70, .6);
}